@inherits LayoutComponentBase

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">
    <main>
        <TopRow />
        <article class="content px-4">
            @Body
        </article>
    </main>
    <NavMenu />
</div>