@page "/AutoRendering"
@using ix_integration_plc

<PageTitle>Rendering</PageTitle>

<h1>Rendering</h1>

<h1>Structure rendering</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="border border-success p-2 mb-2">
                <span>Control - can edit</span>
                <RenderableContentControl Presentation="Control"
                                          Context="@Entry.Plc.weather"/>
            </div>
        </div>
        <div class="col">
            <div class="border border-success p-2 mb-2">
                <span>Display - cannot edit</span>
                <RenderableContentControl Presentation="Display"
                                          Context="@Entry.Plc.weather"/>
            </div>
        </div>
    </div>
</div>


<h1>This structure has [ReadOnce()] attribute</h1>
<p>
    It will be read only once at the in a life time to of the application.
    This can be set for items or structured that do not change during the run of the application.
    This feature aim at saving load on communication with the PLC.
</p>

<RenderableContentControl Presentation="Display"
                          Context="@Entry.Plc.weather_readOnce"/>

<h1>This structure has [ReadOnly()] attribute</h1>
<p>
    The structure values won't be written in the PLC.
</p>

<RenderableContentControl Presentation="Control"
                          Context="@Entry.Plc.weather_readOnly" />


@code {
    
}
