@page "/classinjecting"
<h1>Css Class Injecting</h1>


<h2>Wrap</h2>
<RenderableContentControl 
    Context="@Entry.Plc.test_example.compositeWrap" 
    Presentation="Base-Control"
    LayoutClass="align-items-end"
    LayoutChildrenClass="p-3"
    Class="p-5 mb-4 bg-light rounded-3 shadow" />

<h2>Stack</h2>
<RenderableContentControl Context="@Entry.Plc.test_example.compositeStack"
                          Presentation="Base-Control"
                          LayoutClass="card"
                          LayoutChildrenClass="p-1" />


<h2>Tabs</h2>
<RenderableContentControl Context="@Entry.Plc.test_example.compositeTabs"
                          Presentation="Base-Control"
                          LayoutClass="border border-4 rounded border-danger" />