@page "/"

<PageTitle>Index</PageTitle>



<h1>
    This application has direct references to the AX# projects, aim at testing, poc, and demostration of AXSharp.
    It won't work outside this solution.
</h1>