@page "/localizations"

<PageTitle>Localizations</PageTitle>

<RenderableContentControl Presentation="Display"
                          Context="@Entry.Plc.test_example.primitives_stack" />

<button @onclick="SetSk"></button>

@code {

           protected void SetSk()
           {
               Program.SetCulture("sk-SK");
           }
}
