@page "/WrappedLayout"
@using ix_integration_plc
@inject IJSRuntime JS



<PageTitle>Rendering</PageTitle>

<h1>StackLayout</h1>

<p>
    @text
</p>

<p>
    <button class="btn btn-outline-primary" @onclick="ShowCode">Show code</button>
</p>


<div>
    <RenderableContentControl Presentation="Control"
                              Context="@Entry.Plc.weather_wrapped" />
</div>



@code {

    private MarkupString text;
    private string code_example = 
    @"
    NAMESPACE Layouts.Wrapped
        {#ix-attr:[Container(Layout.Wrap)]}
        {#ix-attr:[Group(GroupLayout.GroupBox)]}
        CLASS PUBLIC weather 
        VAR PUBLIC
            Latitude : REAL;       
            Longitude : REAL;       
            Altitude : REAL;       
            Description : STRING;      
            LongDescription : STRING;
        END_VAR  
        END_CLASS    
    END_NAMESPACE
    ";
    
    private async Task ShowCode()
    {
        text = new(await JS.InvokeAsync<string>("converter.makeHtml", code_example));
    }
}
