@page "/AutomatedUi"
@inherits RenderableComponentBase

<PageTitle>Automated UI generation</PageTitle>

<h1>Automated UI generation</h1>

<div class="container-sm">
    <div class="row-cols-auto">
        <RenderableContentControl Presentation="Control"
                                  Context="@Entry.Plc.oop_counter"/>
    </div>
    <div class="row-cols-auto">
        <button @onclick="() => Entry.Plc.oop_counter.Counter.SetAsync(0)" type="button" class="btn btn-primary">Reset</button>
    </div>
</div>

