.nav-menu {
    border-left: 1px solid rgba(13, 110, 253, 1);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 641px) {
    .nav-menu {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
