<div class="top-row px-2">
    <a href="">
        <img src="logo-no-background.svg" width="25" />
    </a>
    
    <div class="ms-auto">
        <IAmHereIndicator />
    </div>
    <div class="ms-auto">
        <LoginDisplay />
    </div>
</div>