@page "/"

<PageTitle>Index</PageTitle>

<h1>Hi!</h1>
<p>
    For more information see: 
</p>
<p>
    <a href="https://axcite.me">Simatic AX</a>
</p>
<p>
    <a href="https://www.axsharp.com">AX# web site and documentation</a>
</p>

<p>
    <a href="https://github.com/ix-ax/axsharp">AX# source repository</a>
</p>

<p>
    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Build Blazor</a>
</p>
<p>
    <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap</a>
</p>