@inherits LayoutComponentBase

<PageTitle>ixblazor.app</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="sidebar">
        <NavMenu />
    </div>
</div>
