@namespace MySecondNamespace
@inherits RenderableComplexComponentBase<ixcomponent>

<h3>Second namespace</h3>

<div class="card">
    <p>IxBool: @Component.my_bool.Cyclic</p>
    <p>IxInt: @Component.my_int.Cyclic</p>
    <p>IxString: @Component.my_string.Cyclic</p>
</div>


@code{
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Component);
    }
}