@page "/ui/manualui"
@inherits RenderableComponentBase

<h3>Control</h3>

<div class="container">
    <div class="input-group mb-3">
        <span class="input-group-text">Counter</span>
        <input type="text" class="form-control" @bind-value="@Entry.Plc.counters.stack.Counts.Cyclic" >
    </div>
    <div class="form-check form-switch">
        <input @bind-value="@Entry.Plc.counters.stack.AllowCounter.Cyclic" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Do count</label>
    </div>
    <div class="input-group mb-3">
        <button type="button" @onclick="() => Entry.Plc.counters.stack.ResetCounter.Cyclic = true" class="btn btn-primary">Reset</button>
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Entry.Plc.counters.stack);
    }
}