
    @if (IsArray)
    {
        <div class="card p-2 mt-2">
            <h5 class="card-title">@Name</h5>
        @ChildContent
        </div>
    }
    else
    {
        @ChildContent
    }


@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool IsArray { get; set; }
    [Parameter]
    public string Name { get; set; }

}