@namespace AXSharp.Connector.ValueTypes
@inherits RenderableComponentBase
<div class="w-100 form-group">
    <div>
        <h1>test custom date component</h1>
    </div>
</div>

@code{
    [Parameter]
    public OnlinerDate Onliner { get; set; }
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Onliner);
    }
}