.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
}

.nav-item {
    padding: 0;
    font-size: 0.9rem;
}

    .nav-item:first-of-type,
    .nav-item:last-of-type {
        padding: 0;
    }

    .nav-item ::deep a {
        color: #000000;
        display: flex;
        align-items: center;
        border-radius: 20px;
        margin: 0.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
    }

        .nav-item ::deep a.active {
            background-color: rgba(13, 110, 253, 1);
            color: #000000;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(13, 110, 253, 0.6);
            color: #000000;
        }

.oi-chevron-top {
    transform: rotate(0deg);
    transition: transform .2s linear;
    transform-origin: 25.3% 62%;
}
    .oi-chevron-top.open {
        transform: rotate(180deg);
        transition: transform .2s linear;
        transform-origin: 25.3% 62%;
    }