
/*h1 {
    color: red;
    
}
.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
}*/

/*::deep input {
    color: red;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
*/