@namespace ax_blazor_example
@inherits RenderableViewModelComponentBase<IxComponentViewModel>

<h3>IxComponentBaseView</h3>

<p>IxBool baseView: @ViewModel.Component.ix_bool.Cyclic</p>
<p>IxInt baseView: @ViewModel.Component.ix_int.Cyclic</p>
<p>IxString baseView: @ViewModel.Component.ix_string.Cyclic</p>


<input type="text" @bind="ViewModel.DummyText"/>
@code
{
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(ViewModel.Component);
    }
}