@page "/control"

<PageTitle>Control</PageTitle>

<div class="row bg-success rounded">
    <h5 class="col-3 text-white d-inline-block d-flex align-items-center">Automat</h5>
    <div class="col-9 my-3 row">
        <button type="button" class="btn btn-primary mx-2 col-3">Manual</button>
        <button type="button" class="btn btn-primary mx-2 col-3">Ground</button>
        <button type="button" class="btn btn-primary mx-2 col-3">Automat</button>
    </div>
</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>100</td>
            <td>First step</td>
            <td>00.00.00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>200</td>
            <td>Second step</td>
            <td>00.00.00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>250</td>
            <td>Third step</td>
            <td>00.00.00</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>400</td>
            <td>Fifth step</td>
            <td>00.00.00</td>
        </tr>
    </tbody>
</table>
