@page "/diagnostics"

<PageTitle>Diagnostics</PageTitle>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">User</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Login user</td>
            <td>User name</td>
            <td>00.00.00</td>
        </tr>
        <tr class="bg-warning">
            <th scope="row">2</th>
            <td>Set data</td>
            <td>User name</td>
            <td>00.00.00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Logout user</td>
            <td>User name</td>
            <td>00.00.00</td>
        </tr>
        <tr class="bg-danger">
            <th scope="row">4</th>
            <td>Change password</td>
            <td>User name</td>
            <td>00.00.00</td>
        </tr>
    </tbody>
</table>
