@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



 <div class="col p-5 m-4 bg-light rounded-3 shadow">
                <h2 class="text-secondary">Control Presentation Type</h2>

                <button class="btn btn-primary" 
                        type="button"
                        id="tooltip1">Info</button>

               

               
             
 </div>

   