@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="card bg-light shadow m-3 col-xl-4 p-0" style="max-width: 25rem;">
        <a href="CU001" class="text-decoration-none">
            <div class="card-body bg-success rounded-top d-flex justify-content-between">
                <h5 class="card-title text-white">CU001</h5>
                <p class="card-text text-black">Time: 00.23.05</p>
            </div>
        </a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between" @onclick='() => Collapse()'>
                Info
                <div>
                    <span class="ms-auto oi oi-chevron-top @(_isCollapsed ? "open" : "")" aria-hidden="true"></span>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush @(_isCollapsed ? "collapse" : null)">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary">Manual</button>
            <button type="button" class="btn btn-primary">Ground</button>
            <button type="button" class="btn btn-primary disabled">Automat</button>
        </div>
    </div>

    <div class="card bg-light shadow m-3 col-xl-4 p-0" style="max-width: 25rem;">
        <a href="CU001" class="text-decoration-none">
            <div class="card-body bg-success rounded-top d-flex justify-content-between">
                <h5 class="card-title text-white">CU001</h5>
                <p class="card-text text-black">Time: 00.23.05</p>
            </div>
        </a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between" @onclick='() => Collapse()'>
                Info
                <div>
                    <span class="ms-auto oi oi-chevron-top @(_isCollapsed ? "open" : "")" aria-hidden="true"></span>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush @(_isCollapsed ? "collapse" : null)">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-primary">Manual</button>
            <button type="button" class="btn btn-primary">Ground</button>
            <button type="button" class="btn btn-primary disabled">Automat</button>
        </div>
    </div>
</div>


@code {
    private bool _isCollapsed = true;

    private void Collapse()
    {
        _isCollapsed = !_isCollapsed;
    }
}