@page "/theming"
<h3>Theming</h3>


<div>
    <button class="btn btn-primary">btn-primary</button>
    <button class="btn btn-secondary">btn-secondary</button>
    <button class="btn btn-warning">btn-warning</button>
    <button class="btn btn-danger">btn-danger</button>
</div>
<div class="mt-5">
    <input class="w-100 form-control "
           type="text"
           value="form-control">
</div>

@code {

}
