@page "/uniform" 
<h3>UniformGridWithRenderIgnore</h3>


<RenderableContentControl Presentation="Control"
                          Context="@Entry.Plc.testingProgram.testRenderIgnore">

</RenderableContentControl>



<h3>Main</h3>
<RenderableContentControl Presentation="Control"
                          Context="@Entry.Plc.MAINC">

</RenderableContentControl>