


<div class="w-100 form-group @CssSymbol">
        <label for="@Id" class="form-label">@AttributeName</label>
  
         @Body

        <div class="invalid-feedback">
            @FailureReason
        </div>

</div>

@code{
    [Parameter]
    public RenderFragment? Body { get; set; }

    [Parameter]
    public RenderFragment? CssSymbol { get; set; }

    [Parameter]
    public RenderFragment? AttributeName { get; set; }

    [Parameter]
    public RenderFragment? Id { get; set; }

    [Parameter]
    public RenderFragment? AccessStatus { get; set; }
    [Parameter]
    public RenderFragment? FailureReason { get; set; }
}