<div class="ms-1">
    <nav aria-label="breadcrumb" class="ms-3">
        <ol class="breadcrumb">
            @foreach (var link in uri)
            {
                if (link != uri.Last())
                {
                    partialLink += "/" + link;
                    <li class="breadcrumb-item"><a href="@partialLink">@link</a></li>
                }
                else
                {
                    <li class="breadcrumb-item active" aria-current="page">@link</li>
                }
            }
        </ol>
    </nav>
</div>

@code {
    [Inject]
    private NavigationManager? MyNavigationManager { get; set; }

    public string[] uri { get; set; }

    private string partialLink { get; set; }

    protected override void OnInitialized()
    {
        uri = MyNavigationManager.ToBaseRelativePath(MyNavigationManager.Uri).Split('/');
    }
}
