@inherits LayoutComponentBase

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">


    <main>
        <TopRow />

        <IAmHereIndicator />

        <article class="content px-4">
            @Body
            <Toasts />
        </article>

    </main>

    <NavMenu />
</div>