<div class="accordion" id="_idParent">

    <div class="accordion-item">

        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#_idTarget" aria-expanded="true" aria-controls="_idTarget">
                <div class="d-flex">
                    <div class="p-2">
                        CurrentStep ID
                    </div>
                    <div class="p-2">
                        CurrentStep Description
                    </div>
                    <div class="p-2 ms-auto ">
                        Component
                    </div>
                </div>

            </button>
        </h2>

        <div id="_idTarget" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#_idParent">
            <div class="accordion-body">

                <h1>Body</h1>
                @*<RenderableContentControl Context="ViewModel.StepController"></RenderableContentControl>
                <RenderableContentControl Context="ViewModel.Component._o"></RenderableContentControl>


                @foreach (var task in ViewModel.ParallelTasks)
                {
                    <RenderableContentControl Context="(IVortexElement)task" Presentation="Sequence"></RenderableContentControl>
                }*@
            </div>
        </div>
    </div>
</div>