<div class="top-row px-2">
    <a href="#labelModal" data-bs-toggle="modal" style="width: 220px; display: inline-block;">
        <img src="logo-header.svg" />
    </a>

    <button type="button" class="btn btn-secondary ms-3" data-bs-toggle="modal" data-bs-target="#languageModal">
        Language
    </button>

    <div class="ms-3">
        <p class="m-0">TuTiezMozeBytNiecoNapisane</p>
    </div>

    <div class="ms-auto">
        <LoginDisplay />
    </div>
</div>