@page "/displaypresentation"
<h3>Display</h3>


<RenderableContentControl Presentation="Display"
                          Context="Entry.Plc.prgWeatherStations"></RenderableContentControl>

<h3>Shadow Display</h3>
@*<RenderableContentControl Presentation="ShadowDisplay"
                          Context="Entry.Plc.MAIN.instanceOfstMultipleLayouts2"></RenderableContentControl>*@
