@page "/multiplelayouts"
<h3>MultipleLayouts</h3>




<RenderableContentControl Presentation="Display"
                          Context="@Entry.Plc.MAINC.instanceOfstMultipleLayouts"
                          Class="p-5">

</RenderableContentControl>

