@page "/rendering"
<h3>RenderingTest</h3>


<RenderableContentControl Presentation="Base"
                          Context="@Entry.Plc.MAINC.instanceOfIxComponent">

</RenderableContentControl>

<RenderableContentControl Presentation="Base"
                          Context="@Entry.Plc.MAINC.instanceOfIxComponent">

</RenderableContentControl>

<RenderableContentControl Presentation="Manual"
                          Context="@Entry.Plc.MAINC.instanceOfIxComponent">

</RenderableContentControl>


@*<RenderableContentControl Presentation="Control"
                          Context="Entry.Plc.Rendering"></RenderableContentControl>*@