@page "/stBlazor"
<h3>stBlazor</h3>

<RenderableContentControl Presentation="Control"
                          Context="@Entry.Plc.MAINC.instanceOfstBlazor">

</RenderableContentControl>

<div>
    <p>---------------------</p>
</div>
@*<RenderableContentControl Presentation="Control"
                          Context="@Entry.Plc.MAIN.instanceOfStExample">

</RenderableContentControl>*@