<div class="nav-menu bg-light">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="oi oi-menu ms-2 p-2" style="font-size: 1.5rem" aria-hidden="true"></span>
    </button>

    <div class="@NavMenuCssClass nav-scrollable">
        <nav class="flex-column">
            <MenuItem Name="Home" Link="/" Icon="oi oi-home" />
            <ExpandableMenuItem Name="UI" Icon="oi oi-align-center">
                <MenuItem Name="Auto UI" Link="/ui/autoui" Icon="oi oi-cog" />
                <MenuItem Name="Manual UI" Link="/ui/manualui" Icon="oi oi-cog" />
            </ExpandableMenuItem>
            <ExpandableMenuItem Name="Swapping" Icon="oi oi-align-center">
                <MenuItem Name="OnlineShadow" Link="/swapping/onlineshadow" Icon="oi oi-cog" />
            </ExpandableMenuItem>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
